.header_box{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_top{
    width: 100px;
}

.white_font{
    color: #fff;
    font-size: 20px;
    
}

.icons{
    margin: 0 2px;
}