.locker_icon{
    width: 60px;
}

.aling_center{
    display: flex;
    justify-content: center;
}

#top-locker{
     animation: locker 1s ease;
}

@keyframes locker{
    from{
        transform: rotateZ(0deg);
    }

    to{
        transform: rotateZ(360deg);
    }
}