.background_img{
    background-image: url(../../img/background_mobile.png);
    background-size: cover;
    height: 100vh;
}


@media only screen and (min-width: 800px) {
    .background_img{
        background-image: url(../../img/background_desktop.png);
    }
}